// COLORS
$color-primary: orangered;
$color-secondary: yellowgreen;
$color-tertiary: #2998ff;

$color-error: #ff0000;

$color-purple: #ff77a9;
$color-purple-dark: #ff49b6;
$color-violet: #5636d3;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$default-font-family: "Roboto", sans-serif;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
