.images-container {
  width: 100%;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: masonry;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  @include respond(laptop) {
    display: block;
  }
}

.image {
  width: 100%;

  //! Review how to make this DRY, eliminate the modifier if it remains the same further down

  &--random {
    padding: 2rem 2rem 0 2rem;
    @include respond(laptop) {
      width: 100%;
    }
  }

  &--finder-item {
    @include respond(laptop) {
      width: 100%;
    }
  }
  &--trending-item {
    @include respond(laptop) {
      width: 100%;
    }
  }
}
