.images-container {
  width: 100%;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: masonry;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  @include respond(tab-port) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include respond(tab-land) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include respond(laptop) {
    &--trending {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__image {
    width: 100%;
  }
}
