.navbar {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &-btn {
      // remove the default button styling

      background-color: transparent;
      cursor: pointer;
      font-size: 1.5rem;
      padding: 1rem 2rem;
      width: 100%;

      &--random {
        border-top: solid 0.5rem $color-bright-purple;
        border-bottom: solid 0.5rem $color-bright-purple;
        & > svg {
          fill: $color-bright-purple;
        }
        &--active {
          background-color: $color-bright-purple;
          & > svg {
            fill: $color-black;
          }
        }
      }

      &--finder {
        border-top: solid 0.5rem $color-fluorescent-orange;
        border-bottom: solid 0.5rem $color-fluorescent-orange;
        & > svg {
          fill: $color-fluorescent-orange;
        }
        &--active {
          background-color: $color-fluorescent-orange;
          & > svg {
            fill: $color-black;
          }
        }
      }

      &--trending {
        border-top: solid 0.5rem $color-fluorescent-green;
        border-bottom: solid 0.5rem $color-fluorescent-green;
        & > svg {
          fill: $color-fluorescent-green;
        }
        &--active {
          background-color: $color-fluorescent-green;
          & > svg {
            fill: $color-black;
          }
        }
      }
    }
  }
}
